.App {
  text-align: center;
}

.app-components {
  background-color: whitesmoke;
  box-shadow: inset 0px 5px 18px -13px rgba(0,0,0,0.75);
  padding: 15px;
  height: auto;
}

.book-content {
  display: flex;
}

/*HEADER*/
.header {
  color:teal;
  font-size:1.5rem;
  font-weight: bold;
  padding: 20px;
}

/*SEARCH*/
.search-field input,
.search-field ,button {
  margin: 0 10px;
}

/*BOOKLIST*/
img {
  height: 100px;
  width: 100px;

}

.books {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
}

.book {
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 15%;
  margin: 10px 0;
}

.book p {
  margin: 0;
  font-size: 12px;
  font-weight: bold;
}

/*SHELF*/
.shelf {
  width: 30%;
  padding: 10px;
  border-left: 3px solid black;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
